@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova_light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova_regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNovaMedium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Proxiima Nova';
  src: url('../fonts/ProximaNovaSemibold.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova_bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova_extrabold.otf') format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova_black.ttf') format('truetype');
  font-weight: 900;
}
