// checkout start

.checkout {
  margin-bottom: 80px;

  &__list {
    margin-top: 50px;
    .products__title__h2 {
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
  }

  &__input {
    @include fontAll(16px, 400, $title);
    width: 100%;
    height: 60px;
    line-height: 135%;
    padding: 10px 30px;
    background-color: $fon;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    &:focus {
      outline: 1px solid $yellow;
    }

    &::placeholder {
      @include fontAll(16px, 400, #777474);
    }
  }

  &__button {
    width: fit-content;
    margin: 0 auto;
    @include fontAll(16px, 600, $title);
    line-height: 100%;
    padding: 22px 60px;
    background-color: $yellow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-transform: uppercase;
    margin-top: 30px;
    @extend%transition;
    &:hover {
      background-color: #ffd621da;
    }
  }

  //-------------------

  &__form__list {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
    flex-wrap: wrap;
  }
}

.input-wrap {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 55px;
  margin-top: 15px;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 30px;
    width: 30px;
    border: 3px solid #ececec;
    background-color: #ececec;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
  }

  input:checked ~ .checkmark {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L6 10L15 1' stroke='%23D6292D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  img {
    width: 130px;
    height: 50px;
    object-fit: contain;
    object-position: center center;
  }
}

// checkout end

@media (max-width: 900px) {
  .checkout__input {
    height: 50px;
    padding: 5px 20px;
    font-size: 14px;
    &::placeholder {
      font-size: 14px;
    }
  }

  .checkout__button {
    padding: 18px 40px;
    margin-top: 10px;
    font-size: 14px;
  }

  .checkout__form__list {
    grid-gap: 30px;
  }

  .input-wrap .checkmark {
    width: 25px;
    height: 25px;
  }

  .input-wrap {
    padding-left: 40px;
  }
}

@media (max-width: 650px) {
  .checkout__form__list {
    flex-direction: column;
    grid-gap: 10px;
  }
}
